/* Następny Metin */

.next-metin{
    width:95%;
    max-width:1200px;
    margin:15px auto;
    background:#222;
    border-radius:12px;
    padding:18px;
    border-left:6px solid #ff9900;
}

.next-metin h2{
    color:#ff9900;
    font-size:24px;
    margin-bottom:12px;
}

.next-info{
    display:flex;
    flex-direction:column;
    gap:8px;
}

#nextLocation{
    font-size:24px;
    font-weight:bold;
    color:#ffffff;
}

#nextChannel{
    font-size:20px;
    color:#6ec1ff;
    font-weight:bold;
}

#nextTime{
    font-size:30px;
    color:#22ff88;
    font-weight:bold;
}
